keystone_username: ''
keystone_password: ''
keystone_tenant_name: ''
keystone_url: ''
region: ''
webserver_port: 8080
agent_user: ''
image: ''
flavor: ''
external_network_name: ''
default_scale_count: 1
